

h1 {
  position: center;
}
.game {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3,1fr);
        margin:auto
      }
    

body {
  background-image: url("https://www.tripsavvy.com/thmb/9ysyWV6PbF3OFOVm2u-ALdpJ7dg=/2896x1629/smart/filters:no_upscale()/landscape-129256055-590899c05f9b5864702e44d0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.card:hover .inner {
  transform: rotateY(180deg)
}
  

/* Position the front and back side */
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.front {
  background-color: rgb(25, 202, 179);
  color: black;
}

/* filling in empty backside with an image of a hostage */
.back {
  background-image: url("https://ak.picdn.net/shutterstock/videos/1021295671/thumb/11.jpg");
  background-size: 400px;
  color: white;
  transform: rotateY(180deg);
}